<html>

<head>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <h1>Posts</h1>
    
        <% for(var i=0; i < posts.length; i ++) { %>
       
                <a  href="/<%= posts[i]._id %>">
                 <div class="posts"><%= posts[i].title %></div>   
                </a><span class="post-date">By <%= posts[i].author %> On <%= posts[i].date %></span><br>   
            <% } %>
    
</body>

</html>