<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>

    <h1>Posts</h1>
    <div class="posts">
        <% for(var i=0; i < posts.length; i ++) { %>

            <a href="/posts/<%= posts[i]._id %>">
                <div class="post-heading">
                    <%= posts[i].title %></a>
                    <div class="post-btns">
                        <div class="btn"><button>Edit</button></div>
                        <div class="btn"><button>Delete</button></div>
                    </div>
                </div>
            <span class="post-details">By
                <%= posts[i].author %>
                    On
                    <%= posts[i].date.toDateString() %>
            </span><br>
            <% } %>

    </div>



</body>

</html>