<html>

<head>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <form method="POST" action="/posts">
        <input type="text" name="title" />
        <input type="text" name="author" />
        <textarea name="content"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>

</html>