<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/js/tiny-mde.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/tiny-mde.css" />

</head>

<body>
    <form class="new-post" method="POST" action="/posts">
        <input class="field" type="text" name="title" placeholder="title" />
        <input class="field" type="text" name="author" placeholder="author" />
        <div id="toolbar"></div>
        <div class="field-content">
            <textarea id="editor" name="content"></textarea>
        </div>
        <button class="post-btn" type="submit">Submit</button>
    </form>

    <script type="text/javascript">
        var tinyMDE = new TinyMDE.Editor({ textarea: 'editor' });
        var commandBar = new TinyMDE.CommandBar({ element: 'toolbar', editor: tinyMDE });
    </script>
</body>

</html>