<html>

<head>
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>
        <%= post.title %>
    </title>
</head>

<body>
    <h1>
        <%= post.title %>
    </h1>
    <h6>
        <%= post.author %>
    </h6>
    <p>
        <%= post.content %>
    </p>
</body>

</html>