/* this is a dummy css file */
body{
    font-family: 'Mukta', sans-serif;
   
}
body{

    margin: 0 auto;
    width: 55%;

}
.posts{
    display: flex;
    flex-direction: column;
}
.post-heading{
 
  margin-left: 30px;

}

.post-date{
    margin-left: 30px;
    padding-bottom: 15px;
    border-bottom:1px solid #e1e3e6;
    
}

a{
    text-decoration: none;
    font-size: 24px;
}
a:hover{
    color: saddlebrown;
}

@media only screen and (max-width:400px){

   
    body{
        width: 95%;
    }
    .post-heading{
 
        margin-left: 5px;
      
      }
      
      .post-date{
          margin-left: 5px;
          padding-bottom: 10px;       
      }
   
   

    


}

@media only screen and (min-width:401px) and (max-width:700px){
   
    body{
        width: 85%;
    }
    .post-heading{
 
        margin-left: 10px;
      
      }
      
      .post-date{
          margin-left: 10px;
          
      }
   
   
}
@media only screen and (min-width:700px) and (max-width:960px){

    body{
        
        width: 80%;
    }
    .post-heading{
 
        margin-left: 15px;
      
      }
      
      .post-date{
          margin-left: 15px;
          
          
      }
   
 
}

